.register-form {
  width: 100%;
  padding: 0px 30px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: gray;
  font-size: 30px;
}

/* Thêm CSS cho nút submit */
.register-form .ant-form-item-control-input-content button {
  width: 100%;
}
